<!--Errors-->
<div class="container">
  <% form_name ||= "Manage" %>
  <h1 class="text-center"> <%= form_name %> plane </h1>

    <% if @plane.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@plane.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @plane.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
</div>

<!--Forms-->
<div class="container">
  <%= form_for @plane do |pl| %>

    <div class="container">
      <%= pl.label :code %>
      <%= pl.number_field :code, class: "form-control" %>
    </div>
    <div class="container">
      <%= pl.label :seats_A %>
      <%= pl.number_field :seats_a, class: "form-control" %>
    </div>
    <div class="container">
      <%= pl.label :seats_B %>
      <%= pl.number_field :seats_b, class: "form-control" %>
    </div>
    <div class="container">
      <%= pl.label :Airline %>
      <select name="plane[airline_id]" class="selectpicker">
        <% @airlines.each do |a|  %>
            <option value="<%= a.id %>"> <%= a.name %> </option>
        <% end  %>
      </select>
    </div>
    <%= pl.submit "#{form_name} Plane", class:"btn btn-primary" %>
  <% end %>
</div>
