<div class="container">
    <h1 class="text-center">Airport Selected</h1>

    <article class="row airport">
      <strong>Name</strong>
      <p> <%= @airport.name %> </p>
      <strong>City</strong>
      <p><%= @airport.city.name %></p>
      <a class="btn btn-danger" href="<%= airport_path(@airport.id) %>" data-method="delete"> Delete </a>
      <a class="btn btn-info" href="<%= edit_airport_path(@airport.id)%>"> Edit</a>
      <a class="btn btn-default" href="<%= airports_path %>" > View all airports </a>
    </article>

</div>
