<!DOCTYPE html>
<html>
  <head>
    <title>RailsFlights</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" href="<%= root_path %>">Rails Flight</a>
        <ul class="nav navbar-nav navbar-right">
          <% if !current_user %>
              <li><a href="<%= new_user_session_path %>">Sig In</a></li>
              <li><a href="<% new_user_registration_path %>">Sig Out</a></li>
          <% else %>
              <li><a href="<% destroy_user_session_path %>" data-method="delete">Sig Out</a></li>
          <% end %>
        </ul>
       </div>
    </nav>
    <%= yield %>
  </body>
</html>
